body,ol,ul,h1,h2,h3,h4,h5,h6,p,dl,dd,fieldset,legend,input,textarea,select {margin:0;padding:0;} 
html{font-size:13.33vw;}
body{font:12px  "黑体"; word-wrap:break-word;}
a,u,s,del{color:#666;text-decoration:none} 
fieldset ,a img,.bor0 {border:0;}
i,em,b{font-style:normal;font-weight:100;}
li{list-style:none;}
img{vertical-align:middle;} 
table{border-collapse:collapse;}
.ind2{text-indent:2em;}
h1,h2,h3,h4,h5,h6{font-weight: 100;}
/*溢出隐藏出现省略号*/
.over{
	white-space:nowrap;
	overflow:hidden;
	text-overflow:ellipsis;
}
/*图片居中方法1，需要在html中写<i></i>
.valign{text-align:center;}
.valign img{vertical-align:middle;}
.valign i{display:inline-block;vertical-align:middle;height:100%;}*/
/*图片居中方法2，不需要在html中写<i></i>*/
.valign{text-align:center;}
.valign img{vertical-align:middle;}
.valign:after{content:"";display:inline-block;vertical-align:middle;height:100%;}


/*解决高度塌陷*/
.clear:after{content:"";clear:both;display:block;}/*直接在父元素的class中加上clear就好了*/

/*解决margin-top向上传递的问题*/
.clear:before{content:"";display:table;}


.cc{display: flex;justify-content:center; align-items:center;}
.xc{display: flex;justify-content:center; }
.yc{display: flex;align-items:center;}